@font-face {
    font-family: "GamjaFlower";
    src: url("GamjaFlower.ttf");
}

*{
    font-family: "GamjaFlower";
    text-align: center;
    background-color: #F5D9AE;
    margin: 0px;
}

h1{
    padding: 10px;
}

h3{
    padding: 20px;
}

p{
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.fd{
    width: 20rem;
    border-radius: 20px;
}

button{
    background-color: #dd8c61;
    border-color: #aa5b26;
    color: #dd8c61;
    border-radius: 20px;
}

button:hover{
    background-color: #aa5b26;
    color: #aa5b26;
}

.border{
    width: 100%;
}

.footer{
    margin-top: 50px;
    width: 100%;
    transform: rotate(180deg);
}
