/* Add font files for Times New Roman */
@font-face {
  font-family: 'Times New Roman';
  src: url('fonts/times-new-roman.woff2') format('woff2'),
       url('fonts/times-new-roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Add font files for Libre Baskerville */
@font-face {
  font-family: 'Libre Baskerville';
  src: url('fonts/libre-baskerville.woff2') format('woff2'),
       url('fonts/libre-baskerville.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family-open-sans: 'Open Sans', sans-serif;
  --font-family-times-new-roman: 'Times New Roman', sans-serif;
  --font-family-libre-baskerville: 'Libre Baskerville', sans-serif;
  --text-rgb-0-77-66: rgba(0, 77, 66, 1);
  --text-rgb-145-184-180: rgba(145, 184, 180, 1);
  --text-black: rgba(0, 0, 0, 1);
  --text-white: rgba(255, 255, 255, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-rgb-0-77-66 {
  color: var(--text-rgb-0-77-66);
}

.text-rgb-145-184-180 {
  color: var(--text-rgb-145-184-180);
}

.text-black {
  color: var(--text-black);
}

.text-white {
  color: var(--text-white);
  font-family: 'Times New Roman', Times, serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.navbar{
  background-color: rgba(0, 77, 66, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 10px solid rgba(145, 184, 180, 1); 
}

.nav-links a{
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 20px;
}

.navbar .nav-links{
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.navbar .home-icon{
  width: 30px;
  margin-left: 50px;
  margin-right: 5%;
}

.navbar .nav-links a:hover {
    background-color: rgba(145, 184, 180, 1);
    color: rgba(0, 77, 66, 1);
    text-decoration: underline;
}

.species {
  padding: 24px;
  background-color: rgba(248, 243, 236, 1);
}

h1{
  font-family: var(--font-family-open-sans);
  font-weight: bold;
  font-size: 40px;
  color: var(--text-rgb-0-77-66);
  padding: 20px;
  padding-bottom: 20px;
}

h2{
  font-family: var(--font-family-open-sans);
  font-weight: bold;
  font-size: 32px;
  color: var(--text-rgb-145-184-180);
}

h3{
  font-family: var(--font-family-times-new-roman);
  font-weight: normal;
  font-size: 28px;
  color: var(--text-black);
  padding-top: 10px;
  padding-left: 10px;
}

h4{
  font-family: var(--font-family-times-new-roman);
  font-weight: normal;
  font-size: 24px;
  color: var(--text-black);
  padding-top: 20px;
  padding-left: 10px;
}

p{
  font-family: var(--font-family-times-new-roman);
  font-weight: normal;
  font-size: 20px;
  color: var(--text-black);
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

img{
  width: 25%;
  height: auto;
}

.tabs{
  display: flex;
}

.selected-tab{
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.unselected-tab{
  background-color: rgba(220, 240, 238, 1);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.tabs a{
  text-decoration: none;
}

.native-content{
  background-color: white;
  text-align: center;
  padding: 50px;
}

.invasive-content{
  background-color: white;
  text-align: center;
  padding: 50px;
}

.about-content{
  background-color: white;
  text-align: center;
  padding: 50px;
}

.about-content h1{
  text-align: left;
  padding-left: 50px;
}

.native-content .compontent{
  text-align: center;
  padding: 20px;
}

.native-images{
  display: flex;
  justify-content: space-between;
  gap: 2%;
  align-items: center;
}

.about{
  padding: 20px;
}

.first{
  display: flex;
  gap: 2%;
}

.first img{
  width: 50%;
  height: 50%;
  padding-bottom: 5%;
}

.second{
  display: flex;
  gap: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.second img{
  width: 30%;
  height: 30%;
}

.img-text{
  font-size: 24px;
}

.eab-imgs{
  display: flex;
  justify-content: space-evenly;
}

.eab-imgs img{
  width: 30%;
}

.eab-resources{
  display: flex;
  align-items: center;
  padding-bottom: 3%;
  gap: 10%;
}

.eab-resources img{
  width: 40%;
  height: 40%;
}

.eab-resources p{
  padding-left: 10px;
}

.eab-text{
  text-align: left;
}

.pear-imgs img{
  width: 30%;
}

.pear-imgs{
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
  align-items: center;
  gap: 10%;
}

.invasive-imgs{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10%;
}

.invasive-imgs img{
  width: 50%;
}

.pear-resources img{
  width: 40%;
  height: 40%;
}

.pear-resources{
  display: flex;
  align-items: center;
  padding-bottom: 3%;
}

.pear-text{
  text-align: right;
}

.pad{
  padding-top: 30px;
  padding-bottom: 20px;
}

.padp{
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 250px;
  padding-left: 250px;
}

button{
  font-size: 30px;
  font-family: var(--font-family-open-sans);
  padding: 20px;
  color: rgba(145, 184, 180, 1);
  background-color: rgba(0, 77, 66, 1);
  border: none;
  border-radius: 30px;
}

button:hover{
  color: rgba(0, 77, 66, 1);
  background-color: rgba(145, 184, 180, 1);
}

.references{
  background-color: white;
  text-align: left;
  padding: 50px;
}

@media screen and (max-width:700px){
  .first{
    display: block;
    padding: 0px;
  }
  .second{
    display: block;
    padding: 0px;
  }
  .eab-imgs{
    display: block;
  }
  .eab-resources{
    display: block;
  }
  .pear-imgs{
    display: block;
    padding: 0px;
  }
  .pear-resources{
    display: block;
  }
  .pear-imgs img{
    width: 50%
  }
  .eab-text{
    text-align: center;
  }
  .padp{
    padding: 0px;
  }
  .pad img{
    width: 50%;
  }
  .pear-text{
    text-align: center;
  }
  .first img{
    width: 100%;
    padding-top: 10px;
  }
  .second img{
    width: 100%;
  }
  .img-text{
    font-size: 18px;
  }
  .about{
    padding: 0px;
  }
  button{
    margin-top: 6%;
  }
  .nav-links a{
    font-size: 20px;
  }
  .invasive-imgs{
    display: block;
  }
  .eab-resources p{
    padding-left: 0px;
  }
  .eab-resources img{
    width: 100%;
  }
  .invasive-imgs img{
    width: 100%;
  }
}
